/*login form*/
.demo-card-blue{
  width:400px;
}
.example-card {
  width: 100%;
}

.example-container {
  display: flex;
  flex-direction: column;
}

 mat-card{
    width: 33%;
    /*margin-top: -100px;*/
}
mat-card-actions{
  margin-left: 0px;
}
.grid1{
height:0px;
}
.mat-grid-tile {
     overflow: visible;
}
.item {
background-color: gray;
}
