<!-- login form  -->
<!-- toolbar -->
<mat-grid-list cols="1"  rowHeight="140px" >
  <mat-grid-tile class="grid1" ></mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="3"  rowHeight="65px" >
  <mat-grid-tile class="grid1" ></mat-grid-tile>
  <mat-grid-tile class="grid2" >
    <mat-toolbar color="primary" >
        <span>Super Administrator Login</span>
    </mat-toolbar>
  </mat-grid-tile>
  <mat-grid-tile class="grid3" > </mat-grid-tile>
</mat-grid-list>

<!--table  -->
<div class="demo-card-container" flex  fxLayout.xs="column"  fxLayoutGap.xs="0px" fxLayoutGap="0px" fxLayoutAlign="center">
  <mat-card class="" fxFlex="33.33%" fxFlex.xs="50%">

    <form class="example-container" #signupForm="ngForm" (ngSubmit)="registerUser(signupForm.value)">
        <label for="email">Email</label>
        <mat-form-field >
          <input matInput type="text"  name="email" id="email" ngModel>
        </mat-form-field >

      <label for="email">Password</label>

      <mat-form-field >
        <input matInput type="text" name="password" id="password" ngModel>
      </mat-form-field >
      <mat-grid-list cols="3" rowHeight="40px">
        <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile fxLayoutAlign="center center">
        <button  mat-raised-button color="primary" class="save_button">LOGIN</button>
      </mat-grid-tile>
      <mat-grid-tile>
    </mat-grid-tile>
    </mat-grid-list>

</form>
</mat-card >
</div>
