
 <div class="demo-card-container" flex fxLayout.xs="column" fxLayoutGap.xs="0px" fxLayoutGap="10px" fxLayoutAlign="center center">
  <mat-card >

<div class="" fxFlex="370px">
  <mat-grid-list cols="1"  rowHeight="40px">
    <mat-grid-tile>
      <mat-card-title>App Tanent</mat-card-title>
    </mat-grid-tile>
  </mat-grid-list>

    <mat-grid-list cols="2" rowHeight="40px">
  <mat-grid-tile  class="title">Company Name </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field >
    <input matInput  required>
  </mat-form-field></mat-grid-tile>

  <mat-grid-tile class="title">Contact Name</mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field >
    <input matInput required>
  </mat-form-field></mat-grid-tile>


  <mat-grid-tile>Designation </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field >
    <input matInput required>
  </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile>Phone number</mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field >
    <input matInput required>
  </mat-form-field></mat-grid-tile>

  <mat-grid-tile>Address</mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field >
    <input matInput required>
  </mat-form-field></mat-grid-tile>

  <mat-grid-tile>Corporate Email</mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field >
    <input matInput required>
  </mat-form-field></mat-grid-tile>

<mat-grid-tile></mat-grid-tile>
<mat-grid-tile></mat-grid-tile>
</mat-grid-list>

  <mat-grid-list cols="4" rowHeight="40px">
    <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile fxLayoutAlign="center center">
    <button  mat-raised-button color="primary" class="save_button">SAVE</button></mat-grid-tile>
  <mat-grid-tile>
  <button  mat-raised-button color="primary">CANCLE</button>
</mat-grid-tile>

</mat-grid-list>
</div>

</mat-card>
</div>
